.avatar {
  height: $x-large;
  width: $x-large;
  border-radius: 50%;
  &__border {
    border: 0.3em solid #ffffff;
    box-shadow: 0px 0px 0px 0.3em;
    -webkit-box-shadow: 0px 0px 0px 0.3em;
    -moz-box-shadow: 0px 0px 0px 0.3em;
    &__green {
      color: $success;
    }
    &__yellow {
      color: $alert;
    }
    &__red {
      color: $danger;
    }
  }
  &__large {
    width: $large-icon;
    height: $large-icon;
  }
  &__profile {
    position: absolute;
    bottom: -$x-large;
    left: 0;
    right: 0;
    margin: auto auto;
  }
  &__grey {
    background-color: $light_grey;
  }
}
